/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* TAG SELECTOR */
html{
    font-size: 62.5%;
}
body{
    background-color: #000000;
    color: #ffffff;
}

/* HEADER START */
li{
    display: inline;
    padding-right: 35px;
    font-size: 2rem;
    cursor: pointer;
}
/* ID SELECTOR */
#header{
    display: flex;
    justify-content: space-between;
    margin: 12px 80px 0px 80px;
}
#logo{
    width: 35%;
}
#right_Side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#franchise{
    width: 125px;
    height: 50px;
    border: 1.5px solid #f0f0f0;
    margin-right: 28px;
    border-radius: 25px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.4rem;
    cursor: pointer;
}
#order{
    width: 125px;
    height: 50px;
    border: 1.5px solid #ed1c24;
    margin-right: 28px;
    border-radius: 25px;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 1.4rem;
    cursor: pointer;
}
/* HEADER END */

/* Crousel Start */
#fullPic{
    width: 100%;
}
/* Crousel End */

/* Group og Companies Start */
#groupCompanies{
    margin: 20px 70px 20px 70px;
}
#greetings{
    margin-top: 80px;
    text-align: center;
}
#welcome{
    font-size: 4rem;
}
#welcome > Span{
    font-size: 5.5rem;
}
#info{
    padding-top: 15px;
    font-size: 2rem;
}
#listing{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 175px;
}
#restaurant{
    background-color: #ffffff;
    width: 300px;
    margin-bottom: 15px;
}
#click01{
    margin-top: 15px;
    width: 175px;
    height: 40px;
    background: transparent;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 50px;
}
#express{
    background-color: #ffffff;
    width: 300px;
    margin-bottom: 15px;
}
#click02{
    margin-top: 15px;
    width: 175px;
    height: 40px;
    background: transparent;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 60px;
}
#village{
    background-color: #ffffff;
    width: 300px;
    margin-bottom: 15px;
}
#click03{
    margin-top: 15px;
    width: 175px;
    height: 40px;
    background: transparent;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 70px;
}
/* Group of Companies End */

/* Restaurant Franchise Start */
#restaurantIslamabad{
    margin-bottom: 50px;
}
#name01{
    text-align: center;
    font-size: 5.5rem;
    padding-bottom: 10px;
}
#depart01{
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 10px;
}
#slogan01{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
}
#totalrestaurant{
    margin-bottom: 75px;
}
#restaurantIslamabad{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
#city01Restaurant{
    color: #ed1c24;
    font-size: 3.5rem;
    padding-bottom: 5px;
}
#company{
    font-size: 4rem;
    padding-bottom: 15px;
}
#logoName{
    font-size: 5.5rem;
}
#addressIslamabad , #islamabadNumber{
    font-size: 1.5rem;
    padding-bottom: 8px;
}
#direction01{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
}
#restaurantFaisalabad{
    display: flex;
    justify-content: space-around;
}
#city02Restaurant{
    color: #ed1c24;
    font-size: 3.5rem;
    padding-bottom: 5px;
}
#addressFaisalabad , #faisalabadNumber{
    font-size: 1.5rem;
    padding-bottom: 8px;
}
#direction02{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
}
#restaurantBhawalpur{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#city03Restaurant{
    color: #ed1c24;
    font-size: 3.5rem;
    padding-bottom: 5px;
}
#addressBhawalpur , #bhawalpurNumber{
    font-size: 1.5rem;
    padding-bottom: 8px;
}
#direction03{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
}
/* Restaurant Franchise End */

/* Express Franchise Start */
#expressFranchise{
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
#name02{
    font-size: 5.5rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#depart02{
    font-size: 4.5rem;
    text-align: center;
    padding-bottom: 35px;
}
#row01 , #row02 , #row03 {
    display: flex;
    justify-content: space-around;
}
#expresspic10{
    margin-left: 35%;
}
#expresspic01 , #expresspic02{
    width: 75%;
}
#expresspic03{
    width: 110%;
}
#expresspic04 , #expresspic07{
    width: 105%;
}
#expresspic05 , #expresspic08{
    width: 106%;
}
#expresspic06 , #expresspic09{
    width: 107%;
}
#expresspic10{
    width: 30%;
}
#express04 , #express05 , #express07 , #express08{
    margin-right: 122.5px;
}
#company_01 , #expressAddress , #expressNumber{
    text-align: center;
}
#expressname01 , #expressname02 , #expressname03 , #expressname04 , #expressname05 , #expressname06 , #expressname07 , 
#expressname08 , #expressname09 , #expressname10{
    text-align: center;
    color: #ed1c24;
}
#express01 > p{
    padding-right: 160px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express01 > h1{
    padding-right: 160px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express02 > p{
    padding-right: 160px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express02 > h1{
    padding-right: 160px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express03 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express03 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express04 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express04 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express05 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express05 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express06 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express06 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express07 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express07 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express08 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express08 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express09 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express09 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#express10 > p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
}
#express10 > h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 2.7rem;
}
#row02 , #row03 , #row04{
    margin-top: 25px;
}
#direction04 , #direction05{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 110px;
}
#direction06{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 110px;
}
#direction07{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 125px;
}
#direction08 , #direction09{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 125px;
}
#direction10{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 125px;
}
#direction11{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 125px;
}
#direction12{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 45px;
    cursor: pointer;
    margin-left: 125px;
}
#direction13{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 46%;
}
/* Express fRanchise End */

/* VILLAGE FRANCHISE START */
#name03{
    font-size: 5.5rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#depart03{
    font-size: 4.5rem;
    text-align: center;
    padding-bottom: 35px;
}
#villageFranchise{
    margin-bottom: 50px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}
#villagepic01{
    margin-right: 125px;
}
#villagedetail{
    padding-top: 100px;
}
#city{
    text-align: center;
    color: #ed1c24;
    font-size: 2.5rem;
    padding-bottom: 15px;
}
#company_02{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 3rem;
}
#villageAddress{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 2rem;
}
#villageNumber{
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}
#villageNumber_02{
    text-align: center;
    padding-bottom: 15px;
    font-size: 2rem;
}
#direction14{
    background: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30%;
}
/* VILLAGE FRANCHISE END */

/* EXPRESS COMINGSOON FRANCHISE START */
#name04{
    font-size: 5.5rem;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#depart04{
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 35px;
}
#expressComingSoonFranchise{
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
#row01ComingSoon , #row02ComingSoon , #row03ComingSoon{
    display: flex;
    justify-content: space-around;
}
#comingSoon01 , #comingSoon02 , #comingSoon03 , #comingSoon04 , 
#comingSoon05 , #comingSoon06 , #comingSoon07 , #comingSoon08{
    width: 400px;
    height: 280px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    margin-right: 50px;
    margin-bottom: 30px;
}
#time{
    color: #ed1c24;
    padding-top: 32px;
    text-align: center;
    font-size: 2.8rem;
}
#company_03{
    text-align: center;
    font-size: 3.2rem;
    padding-top: 32px;
}
#area{
    text-align: center;
    font-size: 2rem;
    padding-top: 32px;
}
#cityExpress{
    text-align: center;
    font-size: 2rem;
    padding-top: 32px;
}
/* EXPRESS COMINGSOONG FRANCHISE END */

/* SOCIAL FEED START */
#depart05{
    text-align: center;
    font-size: 5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
#collection{
    display: flex;
    justify-content: space-around;
}
#social01 , #social02 , #social03 , #social04 , #social05{
    width: 290px;
}
/* #img01 , #img02 , #img03 , #img04{
    margin-right: 75px;
} */
#img02 , #img04{
    margin-right: 10px;
    margin-left: 10px;
}
/* SOCIAL FEED END */

/* FOOTER START */
#footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#tab01 , #tab02 , #tab03{
    width: 350px;
}
#logoonFooter{
    width: 200px;
}
#footerpara01 , #footerpara02{
    font-size: 1.6rem;
}
#tab02{
    padding-left: 60px;
    font-size: 1.6rem;   
}
#tab03{
    padding-left: 60px;
    font-size: 1.6rem;   
}
#lastline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-size: 1.4rem;
}
/* FOOTER END */